{% extends "baseStatic.html" %}
{%load staticfiles%}
{% block estatico %}

<br>
		<h1>GALERIA TRABAJOS EN DRYWALL</h1>
<br>
<a class="fancybox" href= "{% static "images/Drywall/draywall1.JPG" %}" data-fancybox-group="gallery" title="Imagen 1"><img src= "{% static "images/Drywall/d1.png"%}" /></a>
<a class="fancybox" href= "{% static "images/Drywall/draywall2.JPG" %}" data-fancybox-group="gallery" title="Imagen 2"><img src= "{% static "images/Drywall/d2.png" %}" /></a>
<a class="fancybox" href= "{% static "images/Drywall/draywall3.JPG" %}" data-fancybox-group="gallery" title="Imagen 3"><img src= "{% static "images/Drywall/d3.png" %}" /></a>
<a class="fancybox" href= "{% static "images/Drywall/draywall4.JPG" %}" data-fancybox-group="gallery" title="Imagen 4"><img src= "{% static "images/Drywall/d4.png" %}"/></a>
<a class="fancybox" href= "{% static "images/Drywall/draywall5.JPG" %}" data-fancybox-group="gallery" title="Imagen 5"><img src= "{% static "images/Drywall/d5.png" %}"/></a>
<a class="fancybox" href= "{% static "images/Drywall/draywall6.JPG" %}" data-fancybox-group="gallery" title="Imagen 6"><img src= "{% static "images/Drywall/d6.png" %}"/></a>
<a class="fancybox" href= "{% static "images/Drywall/draywall7.JPG" %}" data-fancybox-group="gallery" title="Imagen 7"><img src= "{% static "images/Drywall/d7.png" %}"/></a>
<a class="fancybox" href= "{% static "images/Drywall/draywall8.JPG" %}" data-fancybox-group="gallery" title="Imagen 8"><img src= "{% static "images/Drywall/d8.png" %}"/></a>
<a class="fancybox" href= "{% static "images/Drywall/draywall9.JPG" %}" data-fancybox-group="gallery" title="Imagen 9"><img src= "{% static "images/Drywall/d9.png" %}"/></a>
<a class="fancybox" href= "{% static "images/Drywall/draywall10.jpg" %}" data-fancybox-group="gallery" title="Imagen 10"><img src= "{% static "images/Drywall/d10.png" %}"/></a>
<a class="fancybox" href= "{% static "images/Drywall/draywall11.jpg" %}" data-fancybox-group="gallery" title="Imagen 11"><img src= "{% static "images/Drywall/d11.png" %}"/></a>
<a class="fancybox" href= "{% static "images/Drywall/draywall12.jpg" %}" data-fancybox-group="gallery" title="Imagen 12"><img src= "{% static "images/Drywall/d12.png" %}"/></a>
<a class="fancybox" href= "{% static "images/Drywall/draywall13.jpg" %}" data-fancybox-group="gallery" title="Imagen 13"><img src= "{% static "images/Drywall/d13.png" %}"/></a>
<a class="fancybox" href= "{% static "images/Drywall/draywall14.jpg" %}" data-fancybox-group="gallery" title="Imagen 14"><img src= "{% static "images/Drywall/d14.png" %}"/></a>
<a class="fancybox" href= "{% static "images/Drywall/draywall15.jpg" %}" data-fancybox-group="gallery" title="Imagen 15"><img src= "{% static "images/Drywall/d15.png" %}"/></a>
<a class="fancybox" href= "{% static "images/Drywall/draywall16.jpg" %}" data-fancybox-group="gallery" title="Imagen 16"><img src= "{% static "images/Drywall/d16.png" %}"/></a>
<a class="fancybox" href= "{% static "images/Drywall/draywall17.jpg" %}" data-fancybox-group="gallery" title="Imagen 17"><img src= "{% static "images/Drywall/d17.png" %}"/></a>
<a class="fancybox" href= "{% static "images/Drywall/draywall18.jpg" %}" data-fancybox-group="gallery" title="Imagen 18"><img src= "{% static "images/Drywall/d18.png" %}"/></a>
<a class="fancybox" href= "{% static "images/Drywall/draywall19.jpeg" %}" data-fancybox-group="gallery" title="Imagen 19"><img src= "{% static "images/Drywall/d19.png" %}"/></a>
<a class="fancybox" href= "{% static "images/Drywall/draywall20.jpg" %}" data-fancybox-group="gallery" title="Imagen 20"><img src= "{% static "images/Drywall/d20.png" %}"/></a>
<a class="fancybox" href= "{% static "images/Drywall/draywall21.jpg" %}" data-fancybox-group="gallery" title="Imagen 21"><img src= "{% static "images/Drywall/d21.png" %}"/></a>

{% endblock %}
