{% extends "baseStatic.html" %}

	{%load staticfiles%}
{% block estatico %}

<br>
		<h1>GALERIA TRABAJOS EN ALUMINIO</h1>
<br>
<a class="fancybox" href= "{% static "images/Aluminio/aluminio1.JPG" %}" data-fancybox-group="gallery" title="Imagen 1"><img src= "{% static "images/Aluminio/al1.png" %}"/></a>
<a class="fancybox" href= "{% static "images/Aluminio/aluminio2.JPG" %}" data-fancybox-group="gallery" title="Imagen 2"><img src= "{% static "images/Aluminio/al2.png" %}"/></a>
<a class="fancybox" href= "{% static "images/Aluminio/aluminio3.jpg" %}" data-fancybox-group="gallery" title="Imagen 3"><img src= "{% static "images/Aluminio/al3.png" %}"/></a>
<a class="fancybox" href= "{% static "images/Aluminio/aluminio4.jpg" %}" data-fancybox-group="gallery" title="Imagen 4"><img src= "{% static "images/Aluminio/al4.png" %}"/></a>
<a class="fancybox" href= "{% static "images/Aluminio/aluminio5.jpg" %}" data-fancybox-group="gallery" title="Imagen 5"><img src= "{% static "images/Aluminio/al5.png" %}"/></a>
<a class="fancybox" href= "{% static "images/Aluminio/aluminio6.jpg" %}" data-fancybox-group="gallery" title="Imagen 6"><img src= "{% static "images/Aluminio/al6.png" %}"/></a>
<a class="fancybox" href= "{% static "images/Aluminio/aluminio7.jpg" %}" data-fancybox-group="gallery" title="Imagen 7"><img src= "{% static "images/Aluminio/al7.png" %}"/></a>
<a class="fancybox" href= "{% static "images/Aluminio/aluminio8.jpg" %}" data-fancybox-group="gallery" title="Imagen 8"><img src= "{% static "images/Aluminio/al8.png" %}"/></a>
<a class="fancybox" href= "{% static "images/Aluminio/aluminio9.jpg" %}" data-fancybox-group="gallery" title="Imagen 9"><img src= "{% static "images/Aluminio/al9.png" %}"/></a>
<a class="fancybox" href= "{% static "images/Aluminio/aluminio10.jpg" %}" data-fancybox-group="gallery" title="Imagen 10"><img src= "{% static "images/Aluminio/al10.png" %}"/></a>


{% endblock %}
