{% extends "baseStatic.html" %}
{%load staticfiles%}
{% block estatico_informacion %}

<div class="jumbotron jumbotron-fluid  ">
  <div class="container">
        <p class="lead text-center"><strong>MISIÓN</strong> <br>
          Asesorar, diseñar, desarrollar y comercializar proyectos inmobiliarios
          innovadores, para las diferentes necesidades de la sociedad, generando
          valor agregado para clientes en el hogar y el comercio principalmente,
          apoyados en talento humano competente y comprometido.
         </p>
          <br>

          <p class="lead text-center"><strong>VISIÓN </strong><br>
            Ser la compañía líder en proyectos de diseño innovador, mejorando la
             calidad de vida de nuestros clientes en el territorio nacional, logrando
             posicionamiento de nuestra empresa en el mercado.
          </p>
          <br>

          <p class="lead text-center"><strong>HISTORIA </strong><br>
          Constructora Asdical S.A.S. nace en el 2015 como empresa, dada la
          necesidad de crear una compañía capaz de responsabilizarse de proyectos
          ambiciosos en el área de acabados, usando materiales de vanguardia,
          basados en la experiencia adquirida por más de trece años con la
          construcción liviana en seco drywall y el aluminio arquitectónico.
      </p>
    </div>
  </div>

{% endblock %}
