{% extends "sistema.html" %}

{% block system %}

<div class="form-row">
        <div class="form-group col-md-5 ">
          <center> <span class="font-weight-bold text-center" > CLIENTE </span><br/></center>
          <span class="font-weight-bold">Identificación: <span class="font-weight-normal" id="c-dni"></span></span><br/>
          <span class="font-weight-bold">Empresa: <span class="font-weight-normal" id="c-nombreEmpresa"></span></span><br/>
          <span class="font-weight-bold">Nombre representante: <span class="font-weight-normal" id="c-nombreRepresentante"></span></span><br/>
          <span class="font-weight-bold">Apellido representante: <span class="font-weight-normal" id="c-apellidoRepresentante"></span></span><br/>
        </div>
        <div class="form-group col-md-7 ">
          <!-- obreros -->
          <!-- Tabla obreros -->
          <center> <span class="font-weight-bold text-center" > OBRERO(S) </span><br/></center>
          <table class= "table table-striped table-responsive" id="tb-obreros">
            <thead class="">
              <tr class="">
                <th class="text-center" scope="col">Nombre</th>
                <th class="text-center" scope="col">Apellidos</th>
                <th class="text-center" scope="col">Telefono</th>
              </tr>
            </thead>
            <tbody>
              <tr>
              </tr>
            </tbody>
          </table>
          <!-- Tabla obreros -->
        </div>
      </div>

      <!-- Modal cliente -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Busqueda de Usuarios</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form method="GET" action="{% url 'factura:search_cliente' %}"  id="c-buscar">
                <div class="form-row">
                  <div class="form-group col-md-10 ">
                    <label for="inputAddress">Usuario</label>
                    <input type="text" name="dni" class="form-control"  placeholder="Cliente">
                  </div>
                  <div class="form-group col-md-2 ">
                    <label for="inputAddress"></label>
                    <button type="submit"  class="btn btn-danger fa fa-search"></button>
                  </div>
                </form>
            </div>
            <div class="form-group col-md-12 " id="clientes">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
              <button type="button" id="c-seleccionar" class="btn btn-danger">Seleccionar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
<!--fin Modal cliente-->
<!-- producto modal-->
<div class="modal fade" id="ProductoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Busqueda de Producto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="GET" action="{% url 'factura:search_producto' %}"  id="p-buscar">
          <div class="form-row">
            <div class="form-group col-md-10 ">
              <label for="inputAddress">Producto</label>
              <input type="text" name="codigo" class="form-control"  placeholder="codigo producto">
            </div>
            <div class="form-group col-md-2 ">
              <label for="inputAddress"></label>
              <button type="submit"  class="btn btn-danger fa fa-search"></button>
            </div>
          </form>
      </div>
      <div class="form-group col-md-12 " id="productos">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" id="p-seleccionar" class="btn btn-danger">Seleccionar</button>
      </div>
    </div>
  </div>
</div>
</div>
<!--producto fin modal-->

<!-- producto modal-->
<div class="modal fade" id="ObreroModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Busqueda de Obrero</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="GET" action="{% url 'factura:search_obrero' %}"  id="o-buscar">
          <div class="form-row">
            <div class="form-group col-md-10 ">
              <label for="inputAddress">Obrero</label>
              <input type="text" name="dniObrero" class="form-control"  placeholder="DNI">
            </div>
            <div class="form-group col-md-2 ">
              <label for="inputAddress"></label>
              <button type="submit"  class="btn btn-danger fa fa-search"></button>
            </div>
          </form>
      </div>
      <div class="form-group col-md-12 " id="obreros">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" id="o-seleccionar" class="btn btn-danger">Seleccionar</button>
      </div>
    </div>
  </div>
</div>
</div>
<!--producto fin modal-->


<!-- Botones de modals -->
  <div class="form-row text-center">
    <div class="form-group col-md-4 ">
      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
         Cliente
      </button>
    </div>
    <div class="form-group col-md-4 ">
      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#ObreroModal">
        Obrero(s)
      </button>
    </div>
    <div class="form-group col-md-4 ">
      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#ProductoModal">
        Productos
      </button>
    </div>
  </div>
  <!-- Botones de modals -->

<!-- Tabla productos -->
<center> <span class="font-weight-bold text-center" > PRODUCTOS</span><br/></center>
<table class= "table table-striped table-responsive" id="tb-p-detalle">
  <thead class="">
    <tr class="">
      <th scope="col">Codigo</th>
      <th scope="col">Producto</th>
      <th scope="col">descripcion</th>
      <th scope="col">Cantidad</th>
    </tr>
  </thead>
  <tbody>

    <tr>

    </tr>

  </tbody>
</table>
<!-- Tabla productos -->




<h2>Datos básicos de obra</h2>


  <div class="form-group">
    <label for="inputAddress">Descripción</label>
    <input type="text" class="form-control" id="o-descripcion" placeholder="Descripción de obra">
  </div>

  <div class="form-row">
    <div class="form-group col-md-4 ">
      <label for="inputAddress2">Dirección</label>
      <input type="text" class="form-control" id="o-direccion" placeholder="Cll o Cr n # n-n">
    </div>
    <div class="form-group col-md-4 ">
      <label for="inputEmail4">Fecha Inicio</label>
      <input name="fecha" id="o-fechaInicio" type="date" class="form-control fa fa-calendar" placeholder="30-12-2017"  min="2017-04-01" max="2050-12-20">
    </div>
    <div class="form-group col-md-4">
      <label for="inputPassword4">fecha Final</label>
      <input name="fecha" id="o-fechaFinal" type="date" class="form-control fa fa-calendar" placeholder="30-12-2017" min="2017-04-01" max="2050-12-20">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-2 ">
      <label for="inputAddress2">Porcentaje A</label>
      <select class="form-control" id="o-porcentajeA" onclick="sumar();">
        <option value="0">0%</option>
        <option value="1">1%</option>
        <option value="2">2%</option>
        <option value="3">3%</option>
        <option value="4">4%</option>
        <option value="5">5%</option>
        <option value="6">6%</option>
        <option value="7">7%</option>
        <option value="8">8%</option>
        <option value="9">9%</option>
        <option value="10">10%</option>
        <option value="11">11%</option>
        <option value="12">12%</option>
        <option value="13">13%</option>
        <option value="14">14%</option>
        <option value="15">15%</option>
        <option value="16">16%</option>

      </select>
    </div>
    <div class="form-group col-md-2 ">
      <label for="inputAddress2">Valor A</label>
      <input type="number" disabled=True id="o-valorA" min="0" max="1000000000" step="10000" value=0 autocomplete="off" required="required" class="form-control">
    </div>
    <div class="form-group col-md-2 ">
      <label for="inputAddress2">Porcentaje I</label>
      <select class="form-control" id="o-porcentajeI" onclick="sumar();" >
        <option value="0">0%</option>
        <option value="1">1%</option>
        <option value="2">2%</option>
        <option value="3">3%</option>
        <option value="4">4%</option>
        <option value="5">5%</option>
        <option value="6">6%</option>
        <option value="7">7%</option>
        <option value="8">8%</option>
        <option value="9">9%</option>
        <option value="10">10%</option>
        <option value="11">11%</option>
        <option value="12">12%</option>
        <option value="13">13%</option>
        <option value="14">14%</option>
        <option value="15">15%</option>
        <option value="16">16%</option>

      </select>
    </div>
    <div class="form-group col-md-2 ">
      <label for="inputAddress2">Valor I</label>
      <input type="number" disabled=True id="o-valorI" min="0" max="1000000000" step="10000" value=0 autocomplete="off" required="required" class="form-control">
    </div>
    <div class="form-group col-md-2 ">
      <label for="inputAddress2">Porcentaje U</label>
      <select class="form-control" id="o-porcentajeU" onclick="sumar();">
        <option value="1">1%</option>
        <option value="2">2%</option>
        <option value="3">3%</option>
        <option value="4">4%</option>
        <option value="5">5%</option>
        <option value="6">6%</option>
        <option value="7">7%</option>
        <option value="8">8%</option>
        <option value="9">9%</option>
        <option value="10">10%</option>
        <option value="11">11%</option>
        <option value="12">12%</option>
        <option value="13">13%</option>
        <option value="14">14%</option>
        <option value="15">15%</option>
        <option value="16">16%</option>

      </select>
    </div>
    <div class="form-group col-md-2 ">
      <label for="inputAddress2">Valor U</label>
      <input type="number" disabled=True id="o-valorU" min="0" max="1000000000" step="10000" value=0 autocomplete="off" required="required" class="form-control">
    </div>

  </div>

  <div class="form-row" id="data-totales">
    <div class="form-group col-md-3 ">
      <label for="inputAddress2">Forma de pago</label>
      <select class="form-control" id="o-tipoPago">
        <option value="efectivo">Efectivo</option>
        <option value="cheque">Cheque</option>
        <option value="tarjeta débito">Tarjeta débito</option>
        <option value="tarjeta crédito">Tarjeta crédito</option>
        <option value="venta a crédito">Venta a crédito</option>
        <option value="bono">Bono</option>
        <option value="vale">Vale</option>
        <option value="otros">Otros</option>
      </select>
    </div>
    <div class="form-group col-md-2 ">
      <label for="inputAddress2">IVA U</label>
      <input type="text" disabled=True id="o-iva" min="0" max="1000000000" step="10000" value=0 autocomplete="off" required="required" class="form-control" id="inputAddress2"  >
    </div>
    <div class="form-group col-md-2">
      <label for="inputAddress2">Sub-Total</label>
      <input type="text" disabled=True id="o-subtotal" min="0" max="1000000000" step="10000" value=0 autocomplete="off" required="required" class="form-control" id="inputAddress2"  >
    </div>
    <div class="form-group col-md-2">
      <label for="inputAddress2">Total</label>
      <input type="text" maxlength="10" onkeyup="sumar();" id="o-total" min="0" max="1000000000" step="10000" value=0 autocomplete="off" required="required" class="form-control" id="inputAddress2"  >
    </div>
    <div class="form-group col-md-3 ">
      <label for="inputAddress2">Estado</label>
      <select id="o-estado" class="form-control" id="o-estado">
        <option value="activo">Activo</option>
        <option value="finalizado">Finalizado</option>
      </select>
    </div>
  </div>





<!--Enviar -->
<form action="{% url 'factura:obra_crear' %}" method="post" onsubmit="onEnviar()">
    {% csrf_token %}
    <input id="proceso" name="proceso" type="hidden" />
    <button class="btn btn-warning pull-right" id="comprar"><i class="fa fa-credit-card"></i> Realizar Venta</button>
</form>
<!--Fin Enviar -->


{% if user.is_authenticated %}
    {% if messages %}{% for message in messages %}
      <div class="alert alert-danger alert-dismissable">
      <i class="fa fa-info"></i>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <b>Alert!</b> {{ message }}
      </div>
  {% endfor %}{% endif %}{% endif %}






{% endblock %}
