<!DOCTYPE html>
<html lang="en">
  <head>
    {%load staticfiles%}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- Compatible con monbiles -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    -->
    <link rel="stylesheet" href="{% static "css/bootstrap.css"%}">
    <link rel="stylesheet" href="{% static "css/font-awesome.css"%}">
    <link rel="icon" href="{% static "images/icono.ico" %}" >

  </head>
  <body>

    <section class="container mt-1 pt-1" id="logosdos">
      <center>
            <img align=center src={% static "images/logg.jpg"%} alt="Asdical S.A.S logo" border=0>
      </center>
    </section>

    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-danger">
      <a class="navbar-brand" href="{% url 'usuario:index'%}">
        <img src="{% static "images/logopequeno.png"%}" width="30" height="30" class="d-line-block aling-top" alt="logo Asdical S.A.S">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
       <strong> <div class="navbar-nav mr-auto text-center">
          <a class="nav-item- nav-link active text-white" href="{% url 'usuario:index'%}">&nbsp;&nbsp;&nbsp;Inicio&nbsp;</a>
          <a class="nav-item- nav-link active text-white " href="{% url 'usuario:quienes_somos' %}l">&nbsp;&nbsp;&nbsp;&nbsp;¿Quienes somos?&nbsp;</a>
           <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false">&nbsp;&nbsp;&nbsp;Obras&nbsp;</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'usuario:galeria_aluminio' %}">Aluminio</a>
              <a class="dropdown-item" href="{% url 'usuario:galeria_drywall' %}">Drywall</a>
              <a class="dropdown-item" href="{% url 'usuario:galeria_diseno' %}">Diseño de interiores</a>
              <a class="dropdown-item" href="{% url 'usuario:galeria_domotica' %}">Domótica</a>
              <a class="dropdown-item" href="{% url 'usuario:galeria_vidrio' %}">Vidrio Templado</a>

            </div>
          </li>
          <a class="nav-item- nav-link active text-white " href="">&nbsp;&nbsp;&nbsp;&nbsp;Política de protección de datos&nbsp;</a>
          <a class="nav-item- nav-link active text-white " href="">&nbsp;&nbsp;&nbsp;&nbsp;Seguridad y salud en el trabajo&nbsp;</a>
          <a class="nav-item- nav-link active text-white " href="#encuentranos">&nbsp;&nbsp;&nbsp;&nbsp;Encuentranos&nbsp;</a>
          <a class="nav-item- nav-link active text-white fa fa-envelope fa-3x" href="https://corporativo.mi.com.co/"  target="_blank">&nbsp;</a>
          {% if user.is_authenticated %}
          <button type="button" onclick="window.location.href='{% url 'usuario:sistema' %}'" class=" text-black btn btn-dark ml-5 mr-5 mt-4 mb-4 fa fa-user-circle"></button>
          <button type="button" onclick="window.location.href='{% url 'usuario:cerrar_sesion' %}'" class=" text-danger btn btn-dark ml-5 mr-5 mt-4 mb-4">Cerrar Sesión</button>
          {% else %}
            <button type="button" onclick="window.location.href='{% url 'usuario:autenticacion' %}'" class=" text-black btn btn-dark ml-5 mr-5 mt-4 mb-4">Iniciar sesión</button>
          {% endif %}
        </div></strong>
      </div>
    </nav>

<!--edwin-->


      <section class="container mt-1 pt-1" id="logosdos">
          <center>
                    <img align=center src= {% static "images/logodos.jpg" %}  alt="Logo Tecno Construccion" border=0>
              </center>
      </section>

      <section class="container mt-5 pt-2" id="marcas">
          <div align="center">
          <a class="fancybox" data-fancybox-group="gallery" title="Alumina"><img src= {% static "images/Marcas/alumina.png" %} /></a>&nbsp;&nbsp;&nbsp;&nbsp;
          <a class="fancybox" data-fancybox-group="gallery" title="Apple Homekit"><img src= {% static "images/Marcas/apple.png" %} /></a>&nbsp;&nbsp;&nbsp;&nbsp;
          <a class="fancybox" data-fancybox-group="gallery" title="Horus"><img src= {% static "images/Marcas/horus.png" %} /></a>&nbsp;&nbsp;&nbsp;&nbsp;
          <a class="fancybox" data-fancybox-group="gallery" title="Panel Rey"><img src= {% static "images/Marcas/panel.png" %} /></a>&nbsp;&nbsp;&nbsp;&nbsp;
          <a class="fancybox" data-fancybox-group="gallery" title="Polygal"><img src= {% static "images/Marcas/polygal.PNG" %} /></a>&nbsp;&nbsp;&nbsp;&nbsp;
          <a class="fancybox" data-fancybox-group="gallery" title="USG"><img src= {% static "images/Marcas/usg.png" %} /></a>&nbsp;&nbsp;&nbsp;&nbsp;
          <a class="fancybox" data-fancybox-group="gallery" title="Vitelsa"><img src= {% static "images/Marcas/vitelsa.png" %} /></a>&nbsp;&nbsp;&nbsp;&nbsp;
          <a class="fancybox" data-fancybox-group="gallery" title="Z-Wave"><img src= {% static "images/Marcas/z-wave.png" %} /></a>&nbsp;&nbsp;&nbsp;&nbsp;
          </div>
      </section>



<!--card-->
    <section class="container mt-5 pt-2" id="obras">
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top img-fluid" src= {% static "images/drywall.png" %} alt="drywall">
          <div class="card-body text-center">
            <h4 class="card-title text-center">Drywall</h4>
            <p class="card-text text-justify">El Sistema Drywall ha revolucionado nuestros sistemas constructivos convencionales, primero por ser más económico que la construcción tradicional basada en ladrillo y cemento, rapidez en su instalación, liviano de peso, resistente al fuego, térmico, acústico y sísmicamente resistente. </p>
          </div>
          <div class="card-footer text-center">
            <button type="button" onclick="window.location.href='{% url 'usuario:galeria_drywall' %}'" class="btn btn-danger">Ver Galeria</button>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src= {% static "images/aluminio.png" %} alt="aluminio">
          <div class="card-body text-center">
            <h4 class="card-title text-center">Aluminio</h4>
            <p class="card-text text-justify">El aluminio es un producto con propiedades únicas y gracias a su bajo peso, durabilidad, resistencia a la corrosión y fácil reciclaje, se ha convertido en un producto esencial para la industria de la construcción.</p>
          </div>
          <div class="card-footer text-center">
              <button type="button" onclick="window.location.href='{% url 'usuario:galeria_aluminio' %}'" class="btn btn-danger ">Ver Galeria</button>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src= {% static "images/vidrio.png" %} alt="vidrio">
          <div class="card-body text-center">
            <h4 class="card-title text-center">Vidrio Templado</h4>
            <p class="card-text text-justify">Si bien en construcción es generalmente utilizado en las fachadas
              y otras áreas exteriores de la obra, también puede ser aprovechado en separaciones
              interiores. </p>

          </div>
          <div class="card-footer text-center">
              <button type="button" onclick="window.location.href='{% url 'usuario:galeria_vidrio' %}'" class="btn btn-danger ">Ver Galeria</button>
          </div>
        </div>

        <div class="card">
          <img class="card-img-top" src= {% static "images/diseño.png" %} alt="diseño">
          <div class="card-body text-center">
            <h4 class="card-title text-center">Diseño de interiores</h4>
            <p class="card-text text-justify">Por el uso de la decoración de interiores, los bienes pueden ser transformados en un hogar perfecto para usted y su familia. Antes de considerar lo que quieres hacer, es necesario determinar un presupuesto y atenerse al mismo.</p>

          </div>
          <div class="card-footer text-center">
            <button type="button" onclick="window.location.href='{% url 'usuario:galeria_diseno' %}'" class="btn btn-danger ">Ver Galeria</button>
          </div>
        </div>
      </div>
    </section>

      <!--card-->
    <section class="container mt-1 pt-1" id="logosdos">
      <div class="card">
        <div class="card-header">
          <center>
          <img align=center src= {% static "images/domo.jpg" %} class="img-fluid"  alt="domotica" border=0>
        </center>
        </div>
        <div class="card-body">
          <h4 class="card-title">Domótica</h4>
          <p class="card-text">Los hogares y oficinas en la actualidad buscan estar mas acordes a la
             tecnología y Asdical S.A.S quiere accedas a ella.</p>
        </div>
        <div class="card-footer text-center">
          <button type="button" onclick="window.location.href='{% url 'usuario:galeria_domotica' %}'" class="btn btn-danger ">Ver Galeria</button>
        </div>
      </div>
      </section>

      <footer class="container-fluid bg-danger mt-5 pt-2" id="encuentranos">
        <div class="row text-white py-4 text-white  text-center justify-content-center ">
          <div class="col-md-4 " >
              <a href="mailto:gerente@asdicalsas.com.co" class="lead"><span class="label">gerente@asdicalsas.com.co</span></a></br></br>
                  <img src= "{% static "images/qrmuypequeno.png" %}">

          </div>

          <div class="col-md-4 " >
              <h6 class="lead"> Chiquinquirá - Boyacá <br>
              Carrera 7 14B-05 Ap 103 T5<br>
              Carrera 7 14-04<br>
              Telefonos: 313 418 8367 - 312 582 2016
              </h6>
          </div>

          <div class="col-md-4">
            <h6 class="lead"> Siguenos</h6>
            <a href="https://www.facebook.com/Asdical-SAS-382185988905705/" target="_blank" > <span class="fa fa-facebook fa-4x" ></span></a>
          </div>
        </div>
      </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS  -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="{%static "js/bootstrap.min.js"%}" crossorigin="anonymous"></script>
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>-->
  </body>
</html>
